<header class="navbar bg-secondary">
    <section class="navbar-section"></section>
    <section class="navbar-center m-2">
        <img src="/public/assets/stevensoni-logo.svg" style="width: 32px;" class="mr-2" alt="Spectre.css">
        <span class="navbar-brand text-bold mr-2">Stevensoni</span>
    </section>
    <section class="navbar-section">
        <!-- basic dropdown button -->
        <div class="dropdown dropdown-right mr-2">
            <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                <i class="icon icon-more-vert"></i>
            </a>
            <!-- menu component -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="/preview" target="_blank">
                        Preview
                    </a>
                </li>
            </ul>
        </div>
    </section>
</header>