{% extends "layouts/layout.html" %}

{% block title %}
<title>Stevensoni | WebUI</title>
{% endblock %}

{% block content %}

<ul class="tab tab-block">
    <li class="tab-item active">
        <a href="/seo">SEO</a>
    </li>
    <li class="tab-item">
        <a href="/profile">Profile</a>
    </li>
    <li class="tab-item">
        <a href="/projects">Projects</a>
    </li>
    <li class="tab-item">
        <a href="/links">Links</a>
    </li>
    <li class="tab-item">
        <a href="/crypto">Crypto</a>
    </li>
</ul>

<!-- error alert -->
{% if errors | length > 0 %}
{% for error in errors %}
<div class="toast toast-error my-2" id="errorToast{{ loop.index0 }}">
    <button class="btn btn-clear float-right" onclick="closeToast('errorToast{{ loop.index0 }}')"></button>
    <h6>Error</h6>
    {{ error.msg }}
</div>
{% endfor %}
{% endif %}

<!-- successful alert -->
{% if success %}
<div class="toast toast-success my-2" id="successToast">
    <button class="btn btn-clear float-right" onclick="closeToast('successToast')"></button>
    <h6>Success</h6>
    <p>{{ successMsg }}</p>
</div>
{% endif %}

<form action="/seo" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form-label" for="title">Title</label>
        <input class="form-input" type="text" id="title" value="{{ config.site.title }}" placeholder="Title"
            name="title">
    </div>
    <div class="form-group">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-input" id="description" placeholder="Description" rows="3"
            name="description">{{ config.site.description }}</textarea>
    </div>
    <div class="form-group">
        <label class="form-label" for="keywords">Keywords</label>
        <input class="form-input" type="text" id="keywords" value="{{ config.site.keywords }}" placeholder="Keywords"
            name="keywords">
    </div>
    <div class="form-group">
        <label class="form-label" for="logo">Logo</label>
        {% if config.site.logo | length > 0 %}
        <img class="img-fit-cover my-2" type="image" src="{{ config.site.logo }}" alt="logo" title="current logo" width="100">
        {% endif %}
        <input class="form-input" id="logo" accept=".png, .svg" type="file" value="{{ config.site.logo }}" name="logo">
    </div>
    <div class="form-group">
        <label class="form-label" for="favicon">Favicon</label>
        {% if config.site.favicon | length > 0 %}
        <img class="img-fit-cover my-2" type="image" src="{{ config.site.favicon }}" alt="favicon" title="current favicon"
            width="100">
        {% endif %}
        <input class="form-input" id="favicon" accept=".png, .ico, .svg" type="file" value="{{ config.site.favicon }}"
            name="favicon">
    </div>
    <div class="form-group">
        <input class="float-right btn btn-primary my-2" type="submit" value="Save">
    </div>
</form>

{% endblock %}